extends ./layout.jade

block title
  title Edit Data User
block content
  div.container
    div.row
      div.col-xs-6.col-md-4
      div.col-xs-6.col-md-4
        form(id="form", method="post", action="/admin/update/user/#{user.idUser}")
          .form-group
            label Id User :
            input(type="text", placeholder="Id User", name="idUser", value="#{user.idUser}", disabled).form-control
          .form-group
            label Nama Lengkap :
            input(type="text", placeholder="Nama Lengkap", name="nama", value="#{user.nama}", readonly).form-control
          .form-group
            label E-mail :
            input(type="email", placeholder="E-mail", name="email", value="#{user.email}", readonly).form-control
          .form-group
            label Username :
            input(type="text", placeholder="Username", name="username", value="#{user.username}", readonly).form-control
          .form-group
            label Password :
            input(type="password", placeholder="Password", name="password", value="#{user.password}", readonly).form-control
          .form-group
            label Status :
            input(type="text", placeholder="Status", name="level", value="#{user.level}").form-control
          input(type="hidden", name="_csrf" value="#{csrfToken}")
          button(type="submit").btn.btn-primary Simpan
      div.col-xs-6.col-md-4