  
extends ./layout.jade

block title
  title Data Buku
block content
  div.container
    div.row
      div.col-xs-6.col-md-1
      div.col-xs-6.col-md-10
        p
          a.class(href='/tambah/user')
            button(type="button").btn.btn-primary Tambah
        p
        table.table.table-bordered.table-striped.table-hover
          thead
            tr
              th.text-center Nama
              th.text-center E-mail
              th.text-center Username
              th.text-center Aksi
          tbody
            each user in users
              tr
                td #{user.nama}
                td #{user.email}
                td #{user.username}
                td.text-center
                  a.class(href='/edit/user/#{user.idUser}')
                    button(type="button").btn.btn-success Edit
                  a.class(href='/delete/user/#{user.idUser}', onclick='return confirm("Apakah anda ingin menghapus data ?")')
                    button(type="button").btn.btn-danger Delete
      div.col-xs-6.col-md-4